In [1]:
import pandas as pd

# Goal LLM for expain feature or Service User!!

In [ ]:
list_dict = ['Variable', 'Description', 'important_level', 'type', 'value', 'category', 'use']

In [83]:
main_feature = pd.read_csv('../feature_definitions.csv')
main_feature

,Variable,Description
0,actualdpd_943P,Days Past Due (DPD) of previous contract (actu...
1,actualdpdtolerance_344P,DPD of client with tolerance.
2,addres_district_368M,District of the person's address.
3,addres_role_871L,Role of person's address.
4,addres_zip_823M,Zip code of the address.
...,...,...
460,totinstallast1m_4525188A,Total amount of monthly instalments paid in th...
461,twobodfilling_608L,Type of application process.
462,type_25L,Contact type of a person.
463,typesuite_864L,Persons accompanying the client during the loa...
464,validfrom_1069D,Date since the client has an active campaign.

In [84]:
main_feature['Value'] = ''
main_feature['Type'] = ''
main_feature['Category'] = ''
main_feature['Important_level'] = ''
main_feature['Use'] = ''
main_feature['Condition'] = ''
main_feature['Add_on'] = ''

In [121]:
df_important = pd.read_csv('../feature_importance_index.csv')
df_important.rename(columns={'Unnamed: 0': 'Variablex'}, inplace=True)
df_important.head()

,Variablex,importance,stddev,p_value,n,p99_high,p99_low
0,avgdpdtolclosure24_3658938P,0.00168,0.000460,0.000614,5,0.002628,0.000732
1,pctinstlsallpaidlate6d_3546844L,0.00168,0.000390,0.000324,5,0.002483,0.000877
2,maxdpdlast24m_143P,0.00164,0.000385,0.000338,5,0.002432,0.000848
3,pctinstlsallpaidlate4d_3546849L,0.00156,0.000385,0.000410,5,0.002352,0.000768
4,pctinstlsallpaidlat10d_839L,0.00152,0.000303,0.000181,5,0.002145,0.000895

## add use or not

In [15]:
lise_vax = df_important['Variablex'].tolist()

In [39]:
len(lise_vax)

297

In [ ]:
feature_ = main_feature['Variable'].tolist()
feature_

In [86]:
for i in range(len(main_feature)):
    if main_feature['Variable'][i] in lise_vax:
        main_feature['Use'][i] = True
    elif main_feature['Variable'][i] not in lise_vax:
        main_feature['Use'][i] = False

In [87]:
main_feature.head()

,Variable,Description,Value,Type,Category,Important_level,Use,Condition,Add_on
0,actualdpd_943P,Days Past Due (DPD) of previous contract (actu...,,,,,False,,
1,actualdpdtolerance_344P,DPD of client with tolerance.,,,,,True,,
2,addres_district_368M,District of the person's address.,,,,,False,,
3,addres_role_871L,Role of person's address.,,,,,False,,
4,addres_zip_823M,Zip code of the address.,,,,,False,,

In [88]:
main_feature['Use'].value_counts()

False    311
True     154
Name: Use, dtype: int64

# addon sum columns

In [28]:
list_addon = []
for i in lise_vax:
    if i not in feature_:
        list_addon.append(i)

In [79]:
print('max_' + str('birth_259D'))

max_birth_259D

In [96]:
len(list_addon)

143

In [93]:
for i in range(len(main_feature)):
    if main_feature['Variable'][i] in str(list_addon):
        name_va = str(main_feature['Variable'][i])
        main_feature['Add_on'][i] = f'max_{name_va}'
    else: main_feature['Add_on'][i] = None

In [94]:
main_feature.head()

,Variable,Description,Value,Type,Category,Important_level,Use,Condition,Add_on
0,actualdpd_943P,Days Past Due (DPD) of previous contract (actu...,,,,,False,,max_actualdpd_943P
1,actualdpdtolerance_344P,DPD of client with tolerance.,,,,,True,,None
2,addres_district_368M,District of the person's address.,,,,,False,,None
3,addres_role_871L,Role of person's address.,,,,,False,,None
4,addres_zip_823M,Zip code of the address.,,,,,False,,None

In [95]:
main_feature['Add_on'].value_counts()

max_actualdpd_943P                1
max_overdueamountmax_35A          1
max_overdueamount_31A             1
max_outstandingdebt_522A          1
max_outstandingamount_362A        1
                                 ..
max_debtoutstand_525A             1
max_dateofrealrepmt_138D          1
max_dateofcredstart_739D          1
max_dateofcredstart_181D          1
max_totaloutstanddebtvalue_39A    1
Name: Add_on, Length: 130, dtype: int64

In [97]:
ad = main_feature['Add_on'].tolist()
for i in list_addon:
    if i not in ad:
        print(i)

max_num_group1_8
max_num_group1_3
max_num_group1
month_decision
weekday_decision
max_num_group1_4
max_num_group1_6
max_num_group1_11
max_num_group1_7
max_num_group2
max_num_group1_5
max_num_group1_9
max_num_group1_10

# Explor important

In [120]:
df_important

,Variablex,importance,stddev,p_value,n,p99_high,p99_low
0,avgdpdtolclosure24_3658938P,1.680000e+01,0.000460,0.000614,5,0.002628,0.000732
1,pctinstlsallpaidlate6d_3546844L,1.680000e+01,0.000390,0.000324,5,0.002483,0.000877
2,maxdpdlast24m_143P,1.640000e+01,0.000385,0.000338,5,0.002432,0.000848
3,pctinstlsallpaidlate4d_3546849L,1.560000e+01,0.000385,0.000410,5,0.002352,0.000768
4,pctinstlsallpaidlat10d_839L,1.520000e+01,0.000303,0.000181,5,0.002145,0.000895
...,...,...,...,...,...,...,...
292,max_dpdmaxdateyear_896T,0.000000e+00,0.000000,0.500000,5,0.000000,0.000000
293,max_totalamount_996A,-2.220446e-13,0.000141,0.500000,5,0.000291,-0.000291
294,max_dpdmaxdatemonth_89T,-4.000000e-01,0.000089,0.813050,5,0.000144,-0.000224
295,maxannuity_4075009A,-4.000000e-01,0.000089,0.813050,5,0.000144,-0.000224
296,max_numberofcontrsvalue_358L,-4.000000e-01,0.000089,0.813050,5,0.000144,-0.000224

In [108]:
print(-4.000000e-05 * 10000)

-0.4

In [122]:
int(df_important['importance'][0] * 10000)

16

In [128]:
main_feature['Important_level'] = None
main_feature['Important_level']

0      None
1      None
2      None
3      None
4      None
       ...
460    None
461    None
462    None
463    None
464    None
Name: Important_level, Length: 465, dtype: object

In [129]:
for i in range(len(main_feature)):
    varr = main_feature['Variable'][i]

    for j in range(len(df_important)):
        if df_important['Variablex'][j] in str(varr):
            value = int(df_important['importance'][j] * 10000)
            main_feature['Important_level'][i] = value

In [131]:
main_feature['Important_level'].fillna(0, inplace=True)
main_feature

,Variable,Description,Value,Type,Category,Important_level,Use,Condition,Add_on
0,actualdpd_943P,Days Past Due (DPD) of previous contract (actu...,,,,0,False,,max_actualdpd_943P
1,actualdpdtolerance_344P,DPD of client with tolerance.,,,,0,True,,None
2,addres_district_368M,District of the person's address.,,,,0,False,,None
3,addres_role_871L,Role of person's address.,,,,0,False,,None
4,addres_zip_823M,Zip code of the address.,,,,0,False,,None
...,...,...,...,...,...,...,...,...,...
460,totinstallast1m_4525188A,Total amount of monthly instalments paid in th...,,,,1,True,,None
461,twobodfilling_608L,Type of application process.,,,,0,False,,None
462,type_25L,Contact type of a person.,,,,0,False,,None
463,typesuite_864L,Persons accompanying the client during the loa...,,,,0,False,,None
464,validfrom_1069D,Date since the client has an active campaign.,,,,0,True,,None

In [132]:
main_feature['Important_level'].value_counts()

0     363
5      18
2      18
4      12
1       9
3       8
9       8
8       7
7       4
16      3
6       3
13      3
10      3
12      2
11      2
15      2
Name: Important_level, dtype: int64

# Explor Category

In [138]:
main_feature['Variable'][1][-1]

'P'

In [143]:
for i in range(len(main_feature)):
    cate = main_feature['Variable'][i][-1]
    main_feature['Category'][i] = cate

C:\Users\Acer\AppData\Local\Temp\ipykernel_19812\2373725530.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  main_feature['Category'][i] = cate

In [144]:
main_feature

,Variable,Description,Value,Type,Category,Important_level,Use,Condition,Add_on
0,actualdpd_943P,Days Past Due (DPD) of previous contract (actu...,,,P,0,False,,max_actualdpd_943P
1,actualdpdtolerance_344P,DPD of client with tolerance.,,,P,0,True,,None
2,addres_district_368M,District of the person's address.,,,M,0,False,,None
3,addres_role_871L,Role of person's address.,,,L,0,False,,None
4,addres_zip_823M,Zip code of the address.,,,M,0,False,,None
...,...,...,...,...,...,...,...,...,...
460,totinstallast1m_4525188A,Total amount of monthly instalments paid in th...,,,A,1,True,,None
461,twobodfilling_608L,Type of application process.,,,L,0,False,,None
462,type_25L,Contact type of a person.,,,L,0,False,,None
463,typesuite_864L,Persons accompanying the client during the loa...,,,L,0,False,,None
464,validfrom_1069D,Date since the client has an active campaign.,,,D,0,True,,None

In [ ]:
main_feature[main_feature['Use'] == True]['Variable'].tolist()

In [148]:
all_feature = main_feature['Variable']
all_feature

0                actualdpd_943P
1       actualdpdtolerance_344P
2          addres_district_368M
3              addres_role_871L
4               addres_zip_823M
                 ...
460    totinstallast1m_4525188A
461          twobodfilling_608L
462                    type_25L
463              typesuite_864L
464             validfrom_1069D
Name: Variable, Length: 465, dtype: object

In [175]:
main_feature['Variable'].tolist()[:3]

{'actualdpd_943P', 'actualdpdtolerance_344P', 'addres_district_368M'}

# Type find

In [182]:
cate = pd.read_csv('../cate_find.csv')
cate

,cols,cate,value
0,employername_160M,object,"['c91b12ff', 'c91b12ff', 'c91b12ff']"
1,pmtamount_36A,float64,"['min:0.0, max:87115.6, mean:2260.5373872849973']"
2,processingdate_168D,object,"['2019-01-04', '2018-11-28', '2018-11-01']"
3,actualdpdtolerance_344P,float64,"['min:0.0, max:4206.0, mean:0.12299394633915448']"
4,amtinstpaidbefduel24m_4187115A,float64,"['min:0.0, max:1408010.2, mean:63708.119594085..."
...,...,...,...
459,last30dayturnover_651A,float64,"['min:-477.506, max:390000.0, mean:4955.383494..."
460,openingdate_857D,object,"['2016-08-16', '2015-03-19', '2014-09-02']"
461,cacccardblochreas_147M,object,"[None, None, None]"
462,conts_type_509L,object,"['PRIMARY_MOBILE', 'EMPLOYMENT_PHONE', 'PRIMAR..."
463,credacc_cards_status_52L,object,"[None, None, None]"

In [183]:
cate.rename(columns={'cols': 'Variable','cate': 'Type','value': 'sample_Value'}, inplace=True)
cate

,Variable,Type,sample_Value
0,employername_160M,object,"['c91b12ff', 'c91b12ff', 'c91b12ff']"
1,pmtamount_36A,float64,"['min:0.0, max:87115.6, mean:2260.5373872849973']"
2,processingdate_168D,object,"['2019-01-04', '2018-11-28', '2018-11-01']"
3,actualdpdtolerance_344P,float64,"['min:0.0, max:4206.0, mean:0.12299394633915448']"
4,amtinstpaidbefduel24m_4187115A,float64,"['min:0.0, max:1408010.2, mean:63708.119594085..."
...,...,...,...
459,last30dayturnover_651A,float64,"['min:-477.506, max:390000.0, mean:4955.383494..."
460,openingdate_857D,object,"['2016-08-16', '2015-03-19', '2014-09-02']"
461,cacccardblochreas_147M,object,"[None, None, None]"
462,conts_type_509L,object,"['PRIMARY_MOBILE', 'EMPLOYMENT_PHONE', 'PRIMAR..."
463,credacc_cards_status_52L,object,"[None, None, None]"

In [186]:
main_feature.drop(columns=['Value', 'Type'],inplace=True)

In [187]:
type_f = pd.merge(main_feature, cate, on='Variable', how='left')
type_f

,Variable,Description,Category,Important_level,Use,Condition,Add_on,Type,sample_Value
0,actualdpd_943P,Days Past Due (DPD) of previous contract (actu...,P,0,False,,max_actualdpd_943P,float64,"['min:0.0, max:3676.0, mean:0.0105629978509567..."
1,actualdpdtolerance_344P,DPD of client with tolerance.,P,0,True,,None,float64,"['min:0.0, max:4206.0, mean:0.12299394633915448']"
2,addres_district_368M,District of the person's address.,M,0,False,,None,object,"['a55475b1', 'P55_110_32', 'P55_110_32']"
3,addres_role_871L,Role of person's address.,L,0,False,,None,object,"[None, 'CONTACT', 'PERMANENT']"
4,addres_zip_823M,Zip code of the address.,M,0,False,,None,object,"['a55475b1', 'P10_68_40', 'P10_68_40']"
...,...,...,...,...,...,...,...,...,...
460,totinstallast1m_4525188A,Total amount of monthly instalments paid in th...,A,1,True,,None,float64,"['min:0.21400002, max:543734.2, mean:10304.440..."
461,twobodfilling_608L,Type of application process.,L,0,False,,None,object,"['FO', 'FO', 'FO']"
462,type_25L,Contact type of a person.,L,0,False,,None,object,"['PRIMARY_MOBILE', 'PHONE', 'PHONE']"
463,typesuite_864L,Persons accompanying the client during the loa...,L,0,False,,None,object,"['AL', 'AL', 'AL']"
464,validfrom_1069D,Date since the client has an active campaign.,D,0,True,,None,object,"[None, None, None]"

In [188]:
type_f.to_csv('feature_dict.csv',index=False)